<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.0.xsd"
       default-lazy-init="false">

    <bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="configLocation" value="classpath:properties/quartz.properties"/>
        <property name="schedulerName" value="taskScheduler" />
        <property name="overwriteExistingJobs" value="false"/>
        <property name="dataSource" ref="dataSource"/>
        <property name="transactionManager" ref="transactionManager"/>
        <property name="startupDelay" value="5"/>
        <property name="jobDetails">
            <list>
                <ref bean="mainJob"/>
            </list>
        </property>
    </bean>

    <bean id="mainJob" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
        <property name="jobClass" value="com.qing.niu.quartz.JobRunner"/>
        <property name="name" value="mainJob"/>
        <property name="group" value="mainGroup"/>
        <property name="durability" value="true" />
        <property name="description" value="任务管理" />
    </bean>
</beans>